.columnar {
  list-style-type: none;
}

.columnar dl,
.columnar li {
  float: left;
  margin: 0;
  padding: 0;
  display: block;
}

.cols6 dl.span6,
.cols5 dl.span5,
.cols4 dl.span4,
.cols3 dl.span3,
.cols2 dl.span2,
.cols1 li {
  float: none;
  width: 100%;
}

.cols2 dl,
.cols2 li {
  width: 48%;
  margin-left:4%;
}

.cols3 dl,
.cols3 li {
  width: 32%;
  margin-left:2%;
}
.cols3 dl.span2 {
  width: 66%;
}

.cols4 dl,
.cols4 li {
  width: 24%;
  margin-left:1.3%;
}
.cols4 dl.span2 {
  width: 49.3%;
}
.cols4 dl.span3 {
  width: 74.6%;
}

.cols5 dl,
.cols5 li {
  width: 19%;
  margin-left:1.2%;
}
.cols5 dl.span2 {
  width: 39.2%;
}
.cols5 dl.span3 {
  width: 59.4%;
}
.cols5 dl.span4 {
  width: 79.6%;
}

.cols6 dl,
.cols6 li {
  width: 16%;
  margin-left:0.8%;
}

.columnar .new {
  clear: left;
}

.columnar .end,
.columnar .new {
  margin-left: 0;
}

.columnar .end {
  float: right;
}
