/*
  intend to work with Zend form
*/
.def-input-list {
  display: block;
  margin: 0;
  padding: 0;
}

.def-input-list h5.section {
  background-color: #666;
  color: #fff;
  padding: 0.3em 1em;
}

input, select, textarea {
  border: 1px solid #666;
  padding: 2px;
}

.def-input-list dt {
  position: absolute;
  width: 15em;
}

.def-input-list .push-lable {
  margin-bottom:1em;
  height:1px;
}

.def-input-list .two_column dt {
  width: 16em;
}

.gradient .def-input-list dt {
  background-color: transparent;
}

.def-input-list dt label {
  font-weight: bold;
  float: right;
}

.def-input-list dt label.required {
  background-position: right center;
  background-repeat: no-repeat;
}

.def-input-list dd {
  display: block;
  padding-top: 1px;
  position: relative;
  margin: 1em 0 1em 15.5em;
}

.def-input-list dd .description {
  color: #888888;
  font-size: smaller;
  line-height: 1em;
  margin-left: -252px;
  width: 238px;
}


.def-input-list dd input {
  font-size:12px;
  width:20em;
}

.def-input-list dd input.optional:focus {
  background: white;
  font-weight: lighter;
  background-image: none;
  background-repeat: no-repeat;
  background-position: center center;
}

.def-input-list dd input.error {
   border-color: #CC0000;
}

.def-input-list dd textarea.error {
   border-color: #CC0000;
}


.def-input-list dd select.error {
   border-color: #CC0000;
}

.def-input-list dd input.btn {
  width: auto;
}

.def-input-list dd input.hasDatepicker,
.def-input-list dd input.calendar,
.def-input-list dd input.calendar-background {
  background: url(/static/images/icons/Calendar.png) no-repeat scroll right 1px;
  background-color: white;
  cursor: pointer
}

.def-input-list dd input.calendar.small {
  width: 95px;
}

.def-input-list .two_column dd input {
  width: 16em;
  margin-left: -100px;
}

.def-input-list dd textarea {
  background-color: white;
  font-size:12px;
  width:20em;
}

.def-input-list .two_column dd textarea {
  width: 16em;
  margin-left: -100px;
}

.def-input-list dd select {
  font-size:12px;
  width:20.5em;
}


.def-input-list .two_column dd select {
  width: 16.5em;
  margin-left: -100px;
}

.def-input-list dd input.radio,
.def-input-list dd input.checkbox {
  border: medium none;
  margin-right: 0.33em;
  vertical-align: middle;
  width: auto;
}

.def-input-list dt#submit-label{
  background-color: transparent;
}

.def-input-list dd#submit-element {
  display: inline-block;
  float: none;
  margin: 1em 0.5em 1em 21.5em;
}

.def-input-list dt#cancel-label,
.def-input-list dd#cancel-element {
  display: inline-block;
  float: none;
  margin: 1em 0.5em;
}

textarea:hover,
input:hover,
select:hover,
input:focus,
textarea:focus,
select:focus {
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
}

.def-input-list dt#cancel-label {
  display: none;
}

.def-input-list dd .errors {
  color: #CC0000;
  left: 22em;
  position: absolute;
  top: 0;
}

/* Lightbox */
.def-input-list.lightbox dt {
  position: absolute;
  width: 10em;
  clear: left;
  padding: 1px;
}

.def-input-list.lightbox dd {
  display: block;
  margin: 1em 0 1em 5.5em;
  padding-top: 1px;
  position: relative;
}

.def-input-list.lightbox dt label {
  font-weight: bold;
  float: left;
}

.def-input-list dd .help-bk {
  position: absolute;
  left: 19em;
  padding: 0 0 0 1em;
  top: 0;
  display: none;
}

.def-input-list dd.focus .help-bk {
  display: block;
}

.def-input-list dd.focus.has-error .help-bk {
  display: none;
}

.def-input-list dd .help-bk .help {
  background-color: #FFFFFF;
  border: 1px dotted #AAAAAA;
  color: #888888;
  display: block;
  font-size: small;
  padding: 2px 0 2px 4px;
  width: 140px;
}

.def-input-list dd .error-bk {
  position: absolute;
  left: 19em;
  top: 0px;
  padding: 0 0 0 1em;
  display:none;
  background-color: #fff;
}

.def-input-list dd .error-bk .error{
  color: #cc0000;
  font-size: small;
  border: 1px dotted #cc0000;
  padding: 2px 0 2px 4px;
  width: 140px;
}

.def-input-list dd .error-bk .pointer{
  background: url("/static/images/jqueryui/ui-icons_cd0a0a_256x240.png") no-repeat scroll -98px -15px transparent;
  height: 15px;
  left: 0;
  position: absolute;
  top: 0;
  width: 15px;
}

.def-input-list dd .help-bk .pointer{
  background: url("/static/images/jqueryui/ui-icons_454545_256x240.png") no-repeat scroll -98px -15px transparent;
  height: 15px;
  left: 0;
  position: absolute;
  top: 0;
  width: 15px;
}

.def-input-list dd.has-error.focus .error-bk {
  display:block;
}

.def-input-list dd.has-error input,
.def-input-list dd.has-error textarea,
.def-input-list dd.has-error select {
  border: 1px dotted #cc0000;
}

.def-input-list .zf-form-set {
  width: 20em;
}
.def-input-list .zf-form-set td {
  border: none;
  padding: 0 0.5em;
}

.def-input-list .all-in-out {
  float: right;
  top: -1em;
  position: relative;
}

.def-input-list dd input::-webkit-input-placeholder,
input::-webkit-input-placeholder {
   color: #999;
}

.def-input-list dd input:-moz-placeholder,
input:-moz-placeholder {
   color: #999;
}