/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }

/*
  intend to work with Zend form
*/
.def-form {
  display: block;
  margin: 0;
  padding: 0;
}

.def-form h5.section {
  background-color: #666;
  color: #fff;
  padding: 0.3em 1em;
  margin: 1em 0;
}

input, select, textarea {
  border: 1px solid #666;
  padding: 2px;
}

.def-form dt {
  position: absolute;
  width: 15em;
}

.def-form .push-lable {
  margin-bottom:1em;
  height:1px;
}

.def-form .two_column dt {
  width: 16em;
}

.def-form dt label {
  float: right;
  font-weight: bold;
}

.def-form .mark-required {
  color: red;
}

.def-form dd {
  display: block;
  padding-top: 1px;
  position: relative;
  margin: 1em 0 1em 15.5em;
}

.def-form dd .description {
  color: #888888;
  font-size: smaller;
  line-height: 1em;
  margin-left: -252px;
  width: 238px;
}

.def-form dd > input.button {
  margin-left: 2em;
}
.def-form.columnar dd > input.button {
  margin-left: 0;
}

.def-form dd input {
  width:18em;
}

.def-form dd input.optional:focus {
  background: white;
  font-weight: lighter;
  background-image: none;
  background-repeat: no-repeat;
  background-position: center center;
}

.def-form dd input.error {
   border-color: #CC0000;
}

.def-form dd textarea.error {
   border-color: #CC0000;
}


.def-form dd select.error {
   border-color: #CC0000;
}

.def-form dd input.btn {
  width: auto;
}

.def-form dd input.hasDatepicker,
.def-form dd input.calendar,
.def-form dd input.calendar-background {
  background: url(/static/images/icons/Calendar.png) no-repeat scroll right 1px;
  background-color: white;
  cursor: pointer
}

.def-form dd input.calendar.small {
  width: 95px;
}

.def-form .two_column dd input {
  width: 16em;
  margin-left: -100px;
}

.def-form dd textarea {
  background-color: white;
  width:18em;
}

.def-form dd select {
  width:18.5em;
}


.def-form dd input.radio,
.def-form dd input.checkbox {
  border: medium none;
  margin-right: 0.33em;
  vertical-align: middle;
  width: auto;
}

.def-form dt#submit-label{
  background-color: transparent;
}

.def-form dd#submit-element {
  display: inline-block;
  float: none;
  margin: 1em 0.5em 1em 21.5em;
}

.def-form dt#cancel-label,
.def-form dd#cancel-element {
  display: inline-block;
  float: none;
  margin: 1em 0.5em;
}

textarea:hover,
input:hover,
select:hover,
input:focus,
textarea:focus,
select:focus {
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
}

.def-form dt#cancel-label {
  display: none;
}

.def-form dd .errors {
  color: #CC0000;
  left: 22em;
  position: absolute;
  top: 0;
}

/* Lightbox */
.def-form.lightbox dt {
  position: absolute;
  width: 10em;
  clear: left;
  padding: 1px;
}

.def-form.lightbox dd {
  display: block;
  margin: 1em 0 1em 5.5em;
  padding-top: 1px;
  position: relative;
}

.def-form.lightbox dt label {
  font-weight: bold;
  float: left;
}

.def-form dd .help-bk {
  position: absolute;
  left: 19em;
  padding: 0 0 0 1em;
  top: 0;
  display: none;
}

.def-form dd.focus .help-bk {
  display: block;
}

.def-form dd.focus.has-error .help-bk {
  display: none;
}

.def-form dd .help-bk .help {
  background-color: #FFFFFF;
  border: 1px dotted #AAAAAA;
  color: #888888;
  display: block;
  font-size: small;
  padding: 2px 0 2px 4px;
  width: 140px;
}

.def-form dd .error-bk {
  position: absolute;
  left: 19em;
  top: 0px;
  padding: 0 0 0 1em;
  display:none;
  background-color: #fff;
}

.def-form dd .error-bk .error{
  color: #cc0000;
  font-size: small;
  border: 1px dotted #cc0000;
  padding: 2px 0 2px 4px;
  width: 140px;
}

.def-form dd .error-bk .pointer{
  background: url("/static/images/jqueryui/ui-icons_cd0a0a_256x240.png") no-repeat scroll -98px -15px transparent;
  height: 15px;
  left: 0;
  position: absolute;
  top: 0;
  width: 15px;
}

.def-form dd .help-bk .pointer{
  background: url("/static/images/jqueryui/ui-icons_454545_256x240.png") no-repeat scroll -98px -15px transparent;
  height: 15px;
  left: 0;
  position: absolute;
  top: 0;
  width: 15px;
}

.def-form dd.has-error.focus .error-bk {
  display:block;
}

.def-form dd.has-error input,
.def-form dd.has-error textarea,
.def-form dd.has-error select {
  border: 1px dotted #cc0000;
}

.def-form .zf-form-set {
  width: 20em;
}
.def-form .zf-form-set td {
  border: none;
  padding: 0 0.5em;
}

.def-form .all-in-out {
  float: right;
  top: -1em;
  position: relative;
}

.def-form dd input::-webkit-input-placeholder,
input::-webkit-input-placeholder {
   color: #999;
}

.def-form dd input:-moz-placeholder,
input:-moz-placeholder {
   color: #999;
}

.def-form.columnar dt {
  width: auto;
  position: static;
}

.def-form.columnar dd {
  margin: 0;
}

.def-form.columnar dt label {
  float: none;
}

.def-form.columnar dd textarea,
.def-form.columnar dd input,
.def-form.columnar .zf-form-set {
  width: 98%;
}
.def-form.columnar dd select {
  width: 99%;
  margin: -1px 0 0 0;
}

.def-form.columnar dd input.btn,
.def-form.columnar dd input.checkbox,
.def-form.columnar dd input.radio {
  width: auto;
}

.def-form.columnar .cleaner {
  margin: 5px 0;
}


.def-form.columnar dd .help-bk {
  position: absolute;
  left: 0;
  padding: 0;
  top: 2.0em;
  display: none; /* disable help info */
}

.def-form.columnar dd .help-bk .help {
  width: auto;
  padding: 0;
  border: none;
}

.def-form.columnar dd .help-bk .pointer {
  display: none;
}

.def-form.columnar dd .error-bk {
  position: static;
  left: 0;
  top: 0;
  padding: 0;
}

.def-form.columnar dd .error-bk .pointer {
  display: none;
}

.def-form.columnar dd .error-bk .error {
  border: 0;
  padding: 0;
  width: auto;
}

.btn {
  cursor: pointer;
  display: inline-block;
  background-color: #e6e6e6;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
  background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  padding: 5px 14px 6px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  color: #333;
  font-size: 13px;
  line-height: normal;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  -ms-transition: 0.1s linear all;
  -o-transition: 0.1s linear all;
  transition: 0.1s linear all;
}
.btn:hover {
  background-position: 0 -15px;
  color: #333;
  text-decoration: none;
}
.btn:focus {
  outline: 1px dotted #666;
}
.btn.primary {
  color: #ffffff;
  background-color: #0064cd;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#0064cd));
  background-image: -moz-linear-gradient(top, #049cdb, #0064cd);
  background-image: -ms-linear-gradient(top, #049cdb, #0064cd);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0064cd));
  background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
  background-image: -o-linear-gradient(top, #049cdb, #0064cd);
  background-image: linear-gradient(top, #049cdb, #0064cd);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#049cdb', endColorstr='#0064cd', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #0064cd #0064cd #003f81;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn.active, .btn:active {
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.btn.disabled {
  cursor: default;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  filter: alpha(opacity=65);
  -khtml-opacity: 0.65;
  -moz-opacity: 0.65;
  opacity: 0.65;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.inline-edit-table th,
.inline-edit-table td {
  padding: 0 0.5em;
  border: none;
}

.inline-edit-table th {
  text-align: left;
}

.inline-edit-table td textarea,
.inline-edit-table td select,
.inline-edit-table td input {
  width: 100%;
  margin: 0;
}

.inline-edit-table td .fake-link {
  display: none;
}

.inline-edit-table td.editing .editing.fake-link,
.inline-edit-table td.edit .edit.fake-link,
.inline-edit-table td.new .new.fake-link {
  display: inline;
}
