#site-description {
    padding: 10px 10px 0;
}

#site-description h1,
#site-description h2{
    margin:0;
}

#logo img {
    float:left;
    margin:0 10px 10px 0;
    width: 142px;
    height: 80px;
}

#nav {
    background: url("/static/images/nav_bg_20101111.png") repeat-x scroll 0 -120px transparent;
    display: block;
    clear: both;
    position: relative;
}

#nav ul {
    margin: 0;
}

#nav li {
    float: right;
    height: 32px;
    list-style: none outside none;
}

#nav li a:hover {
    background-position: 0 -160px;
}

#nav li a {
    background: url("/static/images/nav_bg_20101111.png") repeat-x scroll 0 -120px transparent;
    height: 32px;
    line-height: 32px;
    text-align: center;
    width: 6em;
    color: #FFFFFF;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    display: block;
}

#nav li.quick {
    line-height: 22px;
    font-size: 1em;
    color: #F90;
    font-weight: bold;
    font-style: italic;
}
#nav li.vip-info {
    float: left;
    color: yellow;
    line-height: 32px;
    font-size: 1.1em;
    font-weight: bold;
    padding-left: 15px;
}
.sub-menu {
    margin: -10px;
}

.sub-menu li{
    height: 2em;
    list-style: none outside none;
}

.sub-menu li a {
    display: block;
    font-size: 1em;
    font-weight: bold;
    line-height: 2em;
    text-align: left;
    text-decoration: none;
    background-color: #eeeeee;
    padding: 0 10px
}

.sub-menu li a:hover {
    background-color:#0066CC;
    color: #ffffff;
}

.sub-menu li.sub-menu-divide {
    background-color: #AAAAAA;
    height: 0.4em;
}

.sub-menu li.sub-menu-group {
    background-color: #AAAAAA;
    color: #ffffff;
    height: 1.2em;
    text-align: center;
}

#shop-title {
    width:20em;
    float:right;
}