<div class="cleaner"></div>
</div> <!-- bd-container -->
</div> <!--end of bd-->
<div id="ft">
  <a href="#">Disclaimer</a>
  &copy; Copyright {{ 'now'|date('Y') }} repairshop.com. : All Rights Reserved
</div>
</div> <!--end of yui-d0-->
</div> <!-- end of body-container -->
        {% if messager %}<span id="messager" class="{{ messager.cls }} hide">{{ messager.txt }}</span>{% endif %}
        {{ C.loadJS('messager') -}}
</body>
</html>



