{{ C.loadCSS('common.css') -}}
{% include "sections/header.twig" %}
	<div class="yui-b">
        {% include "sections/side_nav.twig" with {'module': 'system'} %}
    </div>
    <div class="yui-main">
        <div class="yui-b">
            people love report
        </div>
    </div>
{% include "sections/footer.twig" %}